.components-forms-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;

  &::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border: 2px solid white;
  }
}

.component-title {
  display: flex;
  flex-direction: row;

  .component-title-text {
    flex: 1 1;
    padding-left: 5px;
    margin-left: -5px;
    line-height: 36px;

    .field .field-value {
      height: 48px;
      line-height: 48px;
      text-align: left;
    }

  }
}

.component-vars {
  padding: 0 5px;
  width: 100%;
}

.subheader {
  border-top: 1px solid #f0f0f0;
  height: 1px;
  background: #ddd;

  span {
    display: none;
  }
}

.component-list .component-title {

  .component-title-menu > div > div > button {
    opacity: 0;
    transition: opacity 100ms;
  }

  &:hover {
    .component-title-text, .component-title-menu {
      background: #f8f8f8;
    }

    .component-title-menu > div > div > button {
      opacity: 1;
    }
  }
}

.component-select-tree {
  .clickable:hover {
    background: #f8f8f8;
  }
}
