
$grid_gutter: 10px;

.design-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: -$grid_gutter;
  margin-right: -$grid_gutter;
}

.design-list__item {
  width: 25%;
  padding: $grid_gutter;
  box-sizing: border-box;
}
