
.document-layout {
  overflow: hidden;

  .document-layout-content {
    background: #ddd;
    overflow: auto;

    > div {
      margin: 0 10% 20px;
      padding: 20px;
      position: relative;
      background: white;
    }
  }

  .footer {
    background: #eee;

    > div {
      margin: 0 10%;
      padding: 10px 20px;

      > div {
        float: right;

        a {
          margin-right: 20px;
        }
      }
    }
  }
}

.side-help {
  background: #fcfcfc;
  padding: 20px;
  overflow-y: auto;
}
