.components-canvas-container {
  overflow: hidden;
}

.drawing-svg {
  width: 100%;

  &.drawing-svg-teaser {
    height: 100%;
  }

  .coord-line {
    stroke: #ccc;
    stroke-dasharray: 5, 5;
  }

  .group-coord-line {
    stroke: #ff80ac;
    stroke-dasharray: 5, 5;
  }

  .group-bounding-box {
    stroke: #ff4081;
    stroke-dasharray: 2, 2;
    fill: rgba(0, 0, 0, .02);
  }

  .mirror-path {
    stroke: cornflowerblue;
    fill: none;
  }

  .mirror-path-back {
    stroke: #555;
    fill: none;
  }

  .lens-path {
    stroke: dodgerblue;
    fill: rgba(173, 216, 230, 0.7);
  }

  .item-controls {
    circle {
      fill: #ff4081;
    }
    path {
      fill: white;
    }

    &.active {
      circle {
        fill: white;
      }
      path {
        fill: #ff4081;
      }
    }

    &.item-controls-move {
      cursor: crosshair;
    }
    &.item-controls-rotate {
      cursor: crosshair;

    }
  }

  .sim-results-svg {
    polyline {
      fill: none;
      stroke: #FBF300;
      &.shadow {
        stroke: #8C8929;
      }
    }
  }
}