
.field {
  display: flex;
  flex-direction: row;

  .field-label {
    color: #888;
    padding-right: 10px;
    line-height: 28px;
  }

  &.selected {
    cursor: default;

    .field-label {
      font-weight: 500;
      color: #FF4081;
    }
  }

  .field-widget {
    width: 100%;
  }

  .field-value {
    color: black;
    flex: 1 1;
    line-height: 28px;
    text-align: right;
  }

  .field-units {
    line-height: 28px;
    font-size: .8em;
    width: 24px;
    margin-left: 5px;
    color: #888;
  }
}

.var-field {
  padding: 0 15px;

  &.var-field-editable {
    cursor: pointer;
  }

  &.selected {
    border-left: 3px solid #FF4081;
    padding-left: 12px;
    background: #f8f8f8;
  }

  border-top: 1px solid #f0f0f0;

  .field-value {
    text-align: right;
  }

  &:hover {
    background: #f8f8f8;
  }
}

.eq-input {
  &, & > div {
    height: 100%;
    line-height: 48px;
    outline: none;
  }

  .eq-part {

    display: inline-block;
    position: relative;

    &.nbr {
      color: blue;
    }
    &.txt {
      color: red;
    }
    &.mng {
      color: purple;
    }
    &.op {
      color: grey;
    }

    &:after {
      content: attr(data-content);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      line-height: 1em;
      color: #555;
      white-space: nowrap;
    }
  }

  .eq-input-var-tree {
    position: fixed;
    z-index: 1000;
    height: auto;
    line-height: 32px;

    .eq-input-var-tree-inner {
      padding: 2px;
      max-height: 300px;
      overflow: auto;
    }
  }
}