.home-large-logo {
  text-align: center;
  margin-top: 50px;

  g.main-group {
    transform: scale(4);
  }

  .sol {
    stroke-linejoin: round;
    fill: orange;
    transform: translate(33px, 15px) rotate(90deg) translate(-12px, -11.5px);
    transition: transform 500ms ease;
  }

  .lens {
    stroke-width: 1px;
    stroke: #1e90ff;
    fill: #add8e6;
    transform: translate(41px, 15px) scale(.8);
    transition: transform 500ms ease;
  }

  .rays polyline {
    fill: none;
    stroke-width: .75px;
    stroke: #ffb433;
    transform: translate(41px, 15px) scale(.8);
    transition: transform 500ms ease, opacity 500ms cubic-bezier(0, .8, 0, 1);
    opacity: 0;
  }

  &:hover {
    .sol {
      transform: translate(15px, 15px) rotate(0deg) translate(-12px, -11.5px);
    }

    .lens {
      transform: translate(45px, 15px) scale(.8);
    }

    .rays polyline {
      transform: translate(45px, 15px) scale(.8);
      opacity: 1;
      transition: transform 500ms ease, opacity 500ms cubic-bezier(.8, 0, 0.6, 0);
    }
  }

  .large-logo-title {
    div {
      display: inline-block;
      overflow: hidden;
    }
    .l {
      color: #ff4081;
      font-size: 2em;
    }
    .t {
      overflow: hidden;
      width: 0;
      padding-bottom: 3px;
      color: #ffffff;
      font-size: 1.4em;
      transition: color 500ms ease, width 500ms ease;
    }
  }

  &:hover {
   .large-logo-title .t {
     color: #988189;

     &:nth-child(2) {
       width: 55px;
     }
     &:nth-child(4) {
       width: 49px;
     }
     &:nth-child(6) {
       width: 96px;
     }
   }
  }
}