
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.top-bar {

}

.full-height {
  height: 100%;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.flex-content {
  flex: 1 1;
}

.flex-columns {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.flex-rows {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

