* {
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #888;
    border: 2px solid #ddd;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}