.splitter {
  $border: solid blue;

  .splitter-separator {
    border: solid #ddd;
    background: #E8E8E8;

    position: relative;

    &:before {
      position: absolute;
      content: ' ';
      background: #aaa;
    }
  }

  &.flex-columns > .splitter-separator {
    border-width: 1px 0;
    height: 3px;
    cursor: ns-resize;

    &:before {
      width: 20px;
      height: 1px;
      margin-left: -10px;
      left: 50%;
      top: 1px;
    }
  }

  &.flex-rows > .splitter-separator {
    border-width: 0 1px;
    width: 3px;
    cursor: ew-resize;

    &:before {
      height: 20px;
      width: 1px;
      margin-top: -10px;
      left: 1px;
      top: 50%;
    }
  }

  .splitter-content-wrapper {
    position: relative;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
