
.top-bar {
  width: 100%;
  padding: 14px;
  height: 49px;
}

.top-bar-title {
  display: inherit;
  width: 30%;
}

.top-bar-tabs {
  position: absolute;
  right: 10px;
  top: 1px;
  width: 50%;
}
