.tree {
  width: 100%
}

.tree-header {
  display: flex;
  flex-direction: row;

  .tree-header-content {
    flex: 1 1;
  }
}

.tree-children {
  padding-left: 20px;

  > .tree-leaf {
    position: relative;

    > .tree-leaf-connector {
      position: absolute;
      top: 0;
      bottom: 5px;

      &:before {
        content: ' ';
        position: absolute;
        left: -3px;
        width: 8px;
        top: -18px;
        height: 36px;
        border: solid #ddd;
        border-width: 0 0 2px 2px;
        pointer-events: none;
      }

      &:after {
        content: ' ';
        position: absolute;
        left: -3px;
        width: 0;
        top: 18px;
        height: 100%;
        border: solid #ddd;
        border-width: 0 0 2px 2px;
        pointer-events: none;
        z-index: 1000;
      }
    }

    &:first-child > .tree-leaf-connector:before {
      top: -9px;
      height: 26px;
    }

    &:last-child {
      > .tree-leaf-connector:before {
        border-bottom-left-radius: 5px;
      }
      > .tree-leaf-connector:after {
        content: '';
        display: none;
      }
    }
  }
}
